{% extends "base.html" %}
{% block title %} Search {% endblock %}

{% block content %}

		<form action="" method="post"><fieldset>
			<div class="form-group">
				<label>Chemical: <input class="form-control" type="text" name="chemical"></label>
			</div>

			<div class="row">
				<div class="col-4">
					Land Use:<br>
					{% for land_use in land_uses %}
					<div class="checkbox">
						<input class="styled" type="checkbox" name="land_use"
							value="{{ land_use.code }}" id="{{ land_use.code }}">
						<label for="{{ land_use.code }}">{{ land_use.name|title }}</label>
					</div>
					{% endfor %}
				</div>

				<div class="col-6">
					Site-Specific Factor:<br>
					{% for factor in site_specific_factors %}
					<div class="checkbox">
						<input class="styled" type="checkbox" name="site_specific_factor"
							value="{{ factor.code }}" id="{{ factor.code }}">
						<label for="{{ factor.code }}">{{ factor.factor }}</label>
					</div>
					{% endfor %}
				</div>
			</div>

      <input class="btn btn-primary" type="submit">
      <input class="btn btn-primary" type="reset">

		</fieldset></form>

		{% if data %}
		<table class="table-sm">
			<thead><tr>
				{% for header in data["headers"] %}
				<th>{{ header.title() }}</th>
				{% endfor %}
			</tr></thead>
			<tbody>
			{% for row in data["content"] %}
			<tr>
				{% for value in row %}
				<td> {{ value }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}


{% endblock %}
