{% extends "base.html" %}
{% block title %} Tables {% endblock %}

{% block content %}

		<form action="" method="post">
			{% if tables %}
				{% for table in tables %}
					<input class="btn btn-primary" type="submit" name="table" value="{{ table }}">
				{% endfor %}
			{% endif %}
		</form>

		{% if data %}
		<table class="table-sm">
			<thead><tr>
				{% for header in data["headers"] %}
				<th>{{ header.title() }}</th>
				{% endfor %}
			</thead></tr>
			<tbody>
			{% for row in data["content"] %}
			<tr>
				{% for value in row %}
				<td> {{ value }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}

{% endblock %}
